<!-- <div class="container mt-4"> -->
  <div class="row mt-4">
    <div class="col">
      <div class="card text-center card-body">
        <div class="d-flex justify-content-center">
          <img src="img/admin.png" alt="Admin" class="img-thumbnail rounded-circle" width="200">
        </div>
        <h1 class="display-4">Johan Zein</h1>
        <p class="lead">Beginer Programer</p>
        <p class="lead">
          <span>Email : <a href="mailto:zeins.syahputra@gmail.com">zeins.syahputra@gmail.com</a></span><br/>
          <span>WhatsApp : +62 852-7072-5005</span>
        </p>
      </div>
    </div>
  </div>
<!-- </div> -->