<div class="row mt-4">
  <div class="col">
    <div class="card card-body">
      <h1 class="display-4">Landing Page...</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque harum optio,
        eveniet repellat velit. Eius mollitia atque culpa minima quidem corporis id consequuntur animi eveniet,
        sunt adipisci repellat alias!
      </p>
    </div>
  </div>
</div>