  <div class="row mt-4">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1 class="display-4">Cash Flow</h1>
              <p class="lead">
                Aplikasi cash flow sederhana untuk pencatatan keuangan pribadi atau usaha kecil menengah,
                hanya terbatas pada pengeluaran dan pemasukan.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <nav class="nav flex-column flex-sm-row text-center">
                    <button type="button" class="btn btn-link text-decoration-none" onclick="clear_form(); $('#tambahDataModal').modal('show');">Tambah Data</button>
                    <!-- <button type="button" class="btn btn-link text-decoration-none" onclick="clear_form();" data-toggle="modal" data-target="#tambahDataModal">Tambah Data</button> -->
                    <button type="button" class="btn btn-link text-decoration-none" onclick="refresh_table();">Refresh Data</button>
                    <button type="button" class="btn btn-link text-decoration-none" data-toggle="collapse" data-target="#collapseFilter">Filter Data</button>
                  </nav>
                  <div class="collapse" id="collapseFilter">
                    <div class="card card-body mt-2 flex-column text-center">
                      <form class="form-inline">
                        <div class="form-group mr-sm-2">
                          <input type="month" class="form-control" id="bulan" name="bulan" value="<%= bulan %>">
                        </div>
                        <button type="button" id="simpanTest" onclick="load_cashflowTable($('#bulan').val());" class="btn btn-primary">Tampilkan</button>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <form id="cashflowForm" name="cashflowForm">
                  <div class="modal fade" id="tambahDataModal">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Cash Flow Data</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="tanggal">Tanggal</label>
                            <input type="date" class="form-control" id="tanggal" name="tanggal" value="<%= tanggal %>">
                          </div>
                          <div class="form-group">
                            <label for="nama">Keterangan</label>
                            <input type="text" class="form-control" id="nama" name="nama">
                          </div>
                          <div class="form-group">
                            <label for="transaksi">Transaksi</label>
                            <select class="custom-select" id="transaksi" name="transaksi">
                              <option value selected>Pilih transaksi</option>
                              <option value="false">Kredit</option>
                              <option value="true">Debet</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="jumlah">Biaya / Jumlah</label>
                            <input type="number" class="form-control" id="jumlah" name="jumlah">
                          </div>
                          <input type="hidden" class="form-control" id="_id" name="_id">
                        </div>
                        <div class="modal-footer">
                          <div class="row col d-flex justify-content-between p-0">
                            <button type="submit" class="btn btn-primary">Simpan Cash Flow</button>
                            <!-- <button type="button" onclick="tambah_cashflow();" class="btn btn-primary save">Tambah Cash Flow</button> -->
                            <!-- <button type="button" onclick="update_cashflow();" class="btn btn-primary update">Perbarui Cash Flow</button> -->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <!-- Modal -->
                <div class="modal fade" id="reportModal">
                  <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Laporan Cash Flow</h5>
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <table id="reportTable" name="reportTable" class="table table-responsive table-bordered table-hover table-sm">
                          <thead class="bg-dark text-white">
                            <th class="text-center">No</th>
                            <th class="text-center">Tanggal</th>
                            <th class="w-100">Keterangan</th>
                            <th class="text-center">Kredit</th>
                            <th class="text-center">Debet</th>
                          </thead>
                          <tbody></tbody>
                          <tfoot class="bg-dark">
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tfoot>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <div class="row col d-flex justify-content-end p-0">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <table id="cashflowTable" name="cashflowTable" class="table table-responsive table-bordered table-hover table-sm">
                    <thead class="bg-dark text-white">
                      <th class="text-center">No</th>
                      <th class="text-center">Tanggal</th>
                      <th class="w-100">Keterangan</th>
                      <th class="text-center">Kredit</th>
                      <th class="text-center">Debet</th>
                      <th class="w-100">Action</th>
                    </thead>
                    <tbody></tbody>
                    <tfoot class="bg-dark">
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>