  <div class="row mt-4">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1 class="display-4">Cash Flow</h1>
              <p class="lead">
                Aplikasi cash flow sederhana untuk pencatatan keuangan pribadi atau usaha kecil menengah,
                hanya terbatas pada pengeluaran dan pemasukan.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <nav class="nav flex-column flex-sm-row text-center">
                    <button type="button" class="btn btn-link text-decoration-none">Tambah Data</button>
                    <button type="button" class="btn btn-link text-decoration-none" onclick="refresh_table();">Refresh Data</button>
                    <button type="button" class="btn btn-link text-decoration-none" data-toggle="collapse" data-target="#collapseFilter">Filter Data</button>
                  </nav>
                  <div class="collapse" id="collapseFilter">
                    <div class="card card-body mt-2 flex-column text-center">
                      <div class="form-inline">
                        <div class="form-group mb-2">
                          <input type="date" class="form-control" id="tglMulai" value="<%= tanggal %>">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                          <input type="date" class="form-control" id="tglAkhir" value="<%= tanggal %>">
                        </div>
                        <button type="button" class="btn btn-primary mb-2">Tampilkan</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table id="cashflowTable" name="cashflowTable" class="table table-responsive">
                    <thead class="bg-dark text-white">
                      <th>No</th>
                      <th class="w-100">Item</th>
                      <th>Transaksi</th>
                      <th>Kredit</th>
                      <th>Debet</th>
                    </thead>
                    <tbody></tbody>
                    <tfoot class="bg-dark">
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>